body {
  font-family:"Arial";
  color:blue;
  text-align: center;
  background-color: yellow;
}

.clockclass {
  color:red;
}

.coldclass {
  background-color:#95A5A6;
}

.chillyclass {
  background-color:#1ABC9C;
}

.niceclass {
  background-color:#2980B9;
}

.warmclass {
  background-color:#E67E22;
}

.hotclass {
  background-color:#E74C3C;
}

#clock {
  font-size:80px;
  color:purple;
}

p {
  color: green;
  font-weight: bold;
}